<h1>Your Bookings</h1>
<% unless @bookings.empty? %>
  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <%= render booking %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>no events available currently</h4>
<% end %>
<%= button_to "Back to events", events_path, method: :get %>