<h1>Your Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <%= render booking %>
    <% end %>
  </tbody>
</table>
<%= button_to "Back to events", events_path, method: :get %>